<strong>Password Recovering </strong>

<p> An reseting password request was made for the email ({{email}})</p>

<p> Use the token <strong>({{token}})</strong> to proceed</p>

<a href="{{ link }}">Create a new password</a>